.main-layout-root, body, html {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-layout-root > * {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    width: 100%;
}